<h1>参加中一覧</h1>

<table>
  <tr>
    <th>タイトル</th>
    <th>テーマ</th>
  </tr>

<% @ideas.each do |idea| %>
  <tr>
    <td><%= idea.title %></td>
    <td><%= idea.theme.title %></td>
    <td><%= link_to "募集詳細", theme_path(idea.theme) %></td>
    <td><%= link_to "アイデアを編集する", edit_theme_idea_path(idea.theme, idea), data: { confirm: '本当に編集していいですか？' } %></td>
   
<% end %>
</table>

