<h1>お気に入り一覧</h1>
<% @user_favorites.reverse_each do |favorite| %>
    <div>
      <%= favorite.theme.title %>
  </tr>
    </div>
  <% end %>
  <% if @user_favorites.empty? %>
    <h2>お気に入りはありません</h2>
  <% end %>
  
    
  <%= link_to 'topページへ',themes_path  %>