<h1>保留一覧</h1>
  <% if @user_favorites.empty? %>
    <h2>保留中の募集はありません</h2>
  <% else %>
  <table>
    <thead>
      <tr>
        <th>タイトル</th>
        <th>テーマ</th>
      </tr>
    </thead>
    <tbody>
      <% @user_favorites.reverse_each do |favorite| %>
        <tr>
          <td><%= favorite.theme.title %></td>
          <td><%= link_to '詳細を確認する', theme_path(favorite.theme.id) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
  