<h1>なぜアイデアマン作成したのか？</h1>
<p>何かを作ったり、問題を解決したいときにアイデアが湧かずに苦しみませんか？一人でどうしよう												
もない時は他人の借りましょう。このアプリでは様々な人の力を借りることでより良いアイデアを得												
ることができます。	</p>

<h1>アイデアマンの使い方</h1>
<p>募集されている問題に対してアイデアを出すことができます。また自分でアイデアを募集することもできます</p>
												