<h1>ようこそ、アイデアマンへ!!</h1></td>
<h1>初めに</h1>
  <h2>なぜアイデアマン作成したのか？</h2>
    <p>何かを作ったり、問題を解決したいときにアイデアが湧かずに苦しみませんか？一人でどうしよう												
もない時は他人の借りましょう。このアプリでは様々な人の力を借りることでより良いアイデアを得												
ることができます。	</p><td>

<h1>アイデアマンの使いかた</h1>
  <h2>募集作成</h2> 
    <p>まずはログインしましょう！<p>
    <p>アイデアを募集してみましょう,サイドバーからアイデアを募集するをクリックすれば新規投稿できます</p>
    <p>投稿したものはユーザー募集一覧でチェックできます</p>
    <p>届いたアイデアは投稿した募集の詳細画面でチェックでみます</p>
    <p>最後に採用するアイデアを選択すれば相手にメールが送信され完了です</p>
  <h2>アイデアを投稿しよう</h2>
   <p>募集に対してアイデアを投稿することができます</p>
   <p>気になる募集の詳細画面を選択しアイデアを投稿しましょう。投稿したものは参加中で表示されます。
   <p>アイデアが採用されればメールが届きます<p>

<h2>それではログインして使ってください</p>

												